
<!DOCTYPE html>
<html>
  <head>
    <title>Target: Dice Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1><%= dice %>d<%= sides %></h1>

   
    
<!--
<a href="/process_roll?dice=5&sides=4">Roll again</a>

|

<a href="/">Go back home</a>

<ol>
    <li>
      <em>Result:</em> <strong>1</strong>
    </li>
    <li>
      <em>Result:</em> <strong>3</strong>
    </li>
    <li>
      <em>Result:</em> <strong>2</strong>
    </li>
    <li>
      <em>Result:</em> <strong>4</strong>
    </li>
    <li>
      <em>Result:</em> <strong>1</strong>
    </li>
</ol>
-->
  </body>
</html>
